<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/styles/estilosreseña.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="icon" href="../../assets/img/hacer-clic.png" type="image/png">
  </head>
  <body>
    <header>
      <main>
        <section class="container">
          <div class="row justify-content-center text-center mt-5">
            <div class="col-3 fuente">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                vero pariatur omnis, deleniti similique cumque consectetur
                placeat iste? In architecto recusandae possimus nemo laudantium,
                alias dolores eveniet consectetur ducimus error.
              </p>
            </div>
            <div class="col-3 fuente2">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
                et optio cupiditate ab. Consequuntur ea, molestiae facilis autem
                nihil nostrum neque nobis voluptate vitae nam voluptas amet
                maiores adipisci obcaecati.
              </p>
            </div>
            <div class="col-3 fuente3">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusantium, delectus corporis deserunt reprehenderit minus
                sequi officia dolor corrupti voluptatum nulla aliquam laboriosam
                voluptas nemo quibusdam aperiam quidem itaque officiis harum.
              </p>
            </div>
            <div class="col-3 fuente4">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
                adipisci consectetur eligendi sit veritatis quam deserunt.
                Obcaecati esse, neque, dolor corporis, voluptates aspernatur
                ratione totam suscipit id quam nostrum quo.
              </p>
            </div>
          </div>
        </section>
      </main>
    </header>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <footer></footer>
</html>
